.App {
  background-color: white;
  min-height: 100vh; /* will cover the 100% of viewport */
  /* text-align: center; */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 250px; /* height of your footer */
  
}

/* For removing underline while hovering */
a:hover {
  text-decoration: none !important;
}

.logo{
  height: 100px;
  width: 150px;
  /* width: 12%;
  height: auto; */
}

.flogo {
  margin-left: 41%;
  margin-top: 10px;
  height: 75px;
  width: 75px;
}
.Table {
  margin: auto;
  text-align: center;
  width: 70% !important; 
}

.Table1 {
  margin: auto;
  text-align: center;
  width: 85% !important; 
}

.react-bootstrap-table-wrapper thead {
  display: none;
}

.TableHeader {
  cursor: pointer;
  position: relative;
}

.TableHeader .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #AC1E2D;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: -5px;
  z-index: 1;
}

.TableHeader .tooltiptextLeft {
  visibility: hidden;
  width: 120px;
  background-color: #AC1E2D;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 75%;
}

.TableHeader:hover .tooltiptext {
  visibility: visible;
}
.TableHeader:hover .tooltiptextLeft {
  visibility: visible;
}

.Footer {
  height: 100px;
  background-color: #041E42;
  color: #AC1E2D;
  text-align: center;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* This css class is used in the ListDept */
.DeptList {
  list-style-type: square;
  color: #AC1E2D;
  margin: 10px 0;
  text-align: left;
  padding-left: 60px;
}

.secHeader{
  padding-top: 20px;
  /* padding-top: calc(.25 * 100vh); */
}

/* This css class is used in the ListGrade to format the graph */
.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* used in the commentProf */
.nameTag {
  width: 75%;
  border-radius: 10px;
}

/* used in the commentProf */
.commentTag {
  /* width: 75%; */
  max-width: 100%;
  height: 225px;
  border-radius: 10px;
}

.fbtns{
  font-size: 12;
  text-align: center;
  margin-top: 24px;
  /* margin-left: 35%; */
}

.overallRating {
  text-align: center;
}

.reviewSystem {
  margin: auto;
  width: 70% !important;
}

.displayComment {
  max-height: 50em;
  overflow-y: scroll;
}